/* Genel */
html, body{
    scroll-behavior: smooth;/
}

body{
    font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
    color: #333333;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(209, 209, 209, 0.3); /* Başlangıçta soluk */
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F8F8F8;
    z-index: 1000;
    padding: 0 20px;
    transition: transform 0.4s ease-in-out, border 0.4s ease-in-out;
}

header h1{
    font-size: 1.5em;
    margin-left: 30px;
    text-align: left;
    font-family: "Nunito-Bold", sans-serif;
    line-height: 150%;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navbar tamamen kayboluyor */
header.hidden{
    transform: translateY(-100%);
}

/* Navbar yukarıdan kayarak geri geliyor */
header.scrolled{
    border-bottom: 2px solid #D1D1D1; /* Kalın border ile geliyor */
    transform: translateY(0);
}

header.scrolled #login{
    display: none; /* Giriş Yap butonunu yok oluyor */
}

header.scrolled #startSmall{
    display: block; /* Kaydırınca Hemen Başla butonu geliyor */
}

/* Hero */
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-top: 80px;
}

#hero p{
    text-align: center;
    margin-bottom: -2px;
    max-width: 50%;
    font-size: 1.15em;
    font-weight: bold;
    line-height: 1.5;
}

/* Butonlar */
button{
    padding: 13px 15px;
    font-size: 0.85em;
    cursor: pointer;
    border-radius: 50px;
}

button#startSmall{
    display: none;
    padding: 14px 20px;
    margin: 0 50px 0 15px;
    background-color: #34C759;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease-in-out;
}

button#startSmall:hover{
    background-color: #2EAD4E;
    box-shadow: 0px 5px 15px rgba(52, 199, 89, 0.4); /* Hafif ışık efekti veriyor */
    transform: scale(1.1);
}

/* En altta yer alan Hemen Başla butonu */
button#startBig{
    position: relative;
    margin: 60px 0 60px 0;
    padding: 20px 50px;
    background-color: #34C759;
    color: #FFFFFF;
    border: none;
    transition: 0.5s;
    transition-property: box-shadow;
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
}

button#startBig{
box-shadow: 0 0 25px #34C759;
}

button#startBig:hover{
    box-shadow: 0 0 5px #34C759,
                0 0 25px #34C759,
                0 0 50px #34C759,
                0 0 75px #34C759;
}

button#startBig:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
}

@keyframes shine{
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
}

button#startBig:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

/* Üstte yer alan Hemen Başla butonu */
button#startBig3d{
    position: relative;
    margin: 60px 0 60px 0;
    padding: 20px 50px;
    background-color: #34C759;
    color: #FFFFFF;
    border: none;
    transition: 0.5s;
    transition-property: box-shadow;
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 6px 0px #249C46, 0px 10px 15px rgba(52, 199, 89, 0.3); /* 3D Etkisi */
    transition: all 0.1s ease-in-out;
}

button#startBig3d:active{
    box-shadow: 0px 2px 0px #249C46, 0px 5px 10px rgba(52, 199, 89, 0.3); /* Gölge küçülsün */
    transform: translateY(4px); /* Aşağı kaydır */
}

button#startBig3d:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

.course-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Normalde 6 sütun olacak */
    gap: 30px; /* Kutular arasındaki mesafe aynı kalacak */
    padding: 20px;
    justify-content: center;
    text-align: center;
    max-width: 1000px; /* Sayfanın ortasında kalmasını sağlar */
    margin: 0 auto;
}

/* course section'ı */
.course-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.course{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Course kutularının içindeki ikonlar */
.course img{
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
}

.course-name{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}

/* Küçük ekranlarda 3x3 düzene geçecek */
@media (max-width: 1000px){
    .course-list{
        grid-template-columns: repeat(3, 1fr); /* 3 sütun olacak */
    }
}

/* Daha küçük ekranlarda 2 sütuna düşecek */
@media (max-width: 600px){
    .course-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

.course-wrapper:nth-child(1) .course{background-color: #00C7BE;}
.course-wrapper:nth-child(2) .course{background-color: #F73751;}
.course-wrapper:nth-child(3) .course{background-color: #2FB6F5;}
.course-wrapper:nth-child(4) .course{background-color: #FF9000;}
.course-wrapper:nth-child(5) .course{background-color: #FFCC00;}
.course-wrapper:nth-child(6) .course{background-color: #AF52DE;}

/* info section'ı */
.info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 220px auto;
    margin-bottom: 70px;
    gap: 120px;
    padding: 0 60px;
}

.info-text{
    flex: 1;
    max-width: 50%;
}

.info-text h2{
    font-size: 2.5em;
    font-weight: bold;
}

.info-container:nth-of-type(1) .info-text h2{
    color: #e54e02;
}
.info-container:nth-of-type(2) .info-text h2{
    color: #31b880;
}
.info-container:nth-of-type(3) .info-text h2{
    color: #9945c4;
}

.info-text p{
    font-size: 1.2em;
    line-height: 1.8;
    color: #333333;
}

.info-container img{
    width: 100%;
    height: auto;
    flex: 1;
    max-width: 400px;
    min-width: 300px;
    flex-shrink: 0;
}

@media (max-width: 1024px){
    .info-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .info-text{
        max-width: 90%;
    }

    .info-container img{
        max-width: 50%;
        min-width: 250px;
    }
}

/* neural-network section'ı */
#neural-network{
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.neural-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 800px;
    color: white;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.neural-text h2{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.neural-text p{
    font-size: 1.2rem;
    line-height: 1.6;
}

#neural-network button{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px){
    #neural-network{
        height: 700px;
    }
    
    .neural-text{
        top: 35%;
    }
    
    .neural-text h2{
        font-size: 1.8rem;
    }
    
    .neural-text p{
        font-size: 1rem;
    }
    
    #neural-network button{
        bottom: 20%;
    }
}

@media (max-width: 480px){
    #neural-network{
        height: 600px;
    }
    
    .neural-text h2{
        font-size: 1.5rem;
    }
    
    #neural-network button{
        bottom: 15%;
        padding: 15px 30px;
    }
}

/* Footer */
footer{
    background-color: #1E2A38;
    color: #FFFFFF;
    padding: 60px 10%;
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.footer-section{
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-section h4{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li{
    margin: 5px 0;
    font-size: 1.1em;
}

.footer-section a, .footer-section p{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.9em;
    transition: all 0.3s ease;
    position: relative;
}

.footer-section a:hover::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width 0.4s ease-in-out;
}

.footer-section a:hover::after{
    width: 100%;
}

@media (max-width: 900px){
    .footer-container{
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 sütun olacak */
        gap: 20px;
        text-align: center;
    }

    .footer-section{
        min-width: unset;
    }
}

@media (max-width: 600px){
    .footer-container{
        grid-template-columns: repeat(2, 1fr); /* Mobilde tek sütuna düş */
    }
}


/* Takımımız Sayfası */
.team-container{
    max-width: 1200px;
    margin: 7.5em auto 3.75em;
    padding: 0.5em 1.25em 1.5em;
}

.team-header{
    text-align: center;
    margin-bottom: 5em;
}

.team-header h2{
    font-size: 2.75em;
    color: #333333;
    margin-bottom: 1.25em;
}

.team-header p{
    font-size: 1.3em;
    color: #666666;
    max-width: 850px;
    margin: 0 auto;
    line-height: 1.6;
}

.team-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.team-member{
    background: #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member:hover{
    transform: translateY(-10px);
}

.member-image{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-image span{
    font-size: 80px;
    color: #FFFFFF;
}

.member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-info{
    padding: 25px;
    text-align: center;
}

.member-info h3{
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 3px;
}

.member-info p{
    color: #666666;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.member-title{
    font-weight: bold;
    font-size: 1.1em;
}

@media (max-width: 1024px){
    .team-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .team-container{
        margin: 100px auto 40px;
        width: 300px;
    }
    
    .team-grid{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .team-header h1{
        font-size: 2em;
    }

    .member-image{
        height: 250px;
    }
}