---
---
<footer>
    <div class="footer-container">
        <div class="footer-section copyRight">
            <h4>DERİN AKADEMİ</h4>
            <a href="">Gizlilik Şartları</a>
            <p>&copy; 2025</p>
        </div>
        <div class="footer-section">
            <h4>Kurslarımız</h4>
            <ul>
                <li><a href="#">Derin Öğrenme</a></li>
                <li><a href="#">Makine Öğrenmesi</a></li>
                <li><a href="#">Lineer Cebir</a></li>
                <li><a href="#">Kalkülüs</a></li>
                <li><a href="#">Olasılık</a></li>
                <li><a href="#">Kod Okuryazarlığı</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Hakkımızda</h4>
            <ul>
                <li><a href="/our-team/">Takımımız</a></li>
                <li><a href="#">Vizyonumuz</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>İletişim</h4>
            <ul>
                <li>Lorem ipsum</li>
                <li><a href="mailto:loremipsum@example.com">loremipsum@example.com</a></li>
            </ul>
        </div>
    </div>
</footer>
